html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
.page-footer{background:#000;color:#ccc;line-height:40px;text-align:center;letter-spacing:2px;font-size:12px}
body{font-size:14px;padding:0;margin:0;color:#000;background-color:#f9fdfe;position:relative}
form{margin:0 0 20px}
img{border:none}
button{margin:0}
input,textarea{outline:none}
input:placeholder{color:#333}
::-webkit-input-placeholder{color:#333}
::-moz-placeholder{color:#333}
:-ms-input-placeholder{color:#333}
input:-moz-placeholder{color:#333}
ul{width:960px;height:1000px;margin:0 auto}
li{display:inline-block;width:300px;margin-left:20px;margin-top:20px;height:400px;color:#fff}
li img{width:300px;height:400px}
li p{color:#000;font-size:24px}
.vote{width:50px;height:40px;overflow:hidden;position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);color:#fff;letter-spacing:2px;cursor:pointer;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);line-height:3em;text-decoration:none;text-align:center;background:#fa5a5a;border-bottom:5px rgba(0,0,0,0.21) solid;}
.vote:hover{margin-top:1px;border-bottom-width:4px}
.vote:active{background-color:#ff4c4b;margin-top:4px;border-bottom-width:1px}
.trans{-webkit-animation:turn 3s ease-in;-moz-animation:turn 3s ease-in;-o-animation:turn 3s ease-in;-ms-animation:turn 3s ease-in;animation:turn 3s ease-in}
.inputdiv{width:100%;height:50px}
.inputdiv input{width:40%;margin:10px 30%}
@-moz-keyframes turn{0%{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
100%{-webkit-transform:rotateY(720deg);-moz-transform:rotateY(720deg);-o-transform:rotateY(720deg);-ms-transform:rotateY(720deg);transform:rotateY(720deg);opacity:1;-ms-filter:none;filter:none}
}@-webkit-keyframes turn{0%{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
100%{-webkit-transform:rotateY(720deg);-moz-transform:rotateY(720deg);-o-transform:rotateY(720deg);-ms-transform:rotateY(720deg);transform:rotateY(720deg);opacity:1;-ms-filter:none;filter:none}
}@-o-keyframes turn{0%{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
100%{-webkit-transform:rotateY(720deg);-moz-transform:rotateY(720deg);-o-transform:rotateY(720deg);-ms-transform:rotateY(720deg);transform:rotateY(720deg);opacity:1;-ms-filter:none;filter:none}
}@-ms-keyframes turn{0%{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
100%{-webkit-transform:rotateY(720deg);-moz-transform:rotateY(720deg);-o-transform:rotateY(720deg);-ms-transform:rotateY(720deg);transform:rotateY(720deg);opacity:1;-ms-filter:none;filter:none}
}@keyframes turn{0%{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
100%{-webkit-transform:rotateY(720deg);-moz-transform:rotateY(720deg);-o-transform:rotateY(720deg);-ms-transform:rotateY(720deg);transform:rotateY(720deg);opacity:1;-ms-filter:none;filter:none}
}