/* ======================  index  ===========================*/
::selection
	background:#add8e6;
.wrapper

	.header
		border-bottom:7px solid black;
		background:white;

		.wrap
			.nav.left
				li
					border-left:1px solid #d6d6d6;
					text-align:center;

					&:first-child
						border-left:none;

					a
						color:black;
						font-weight:bold;

				.logo
					background:url(../img/logo.png)no-repeat center left;
					text-indent:-9999px;
					background-size:90%;

				.choose
					border-bottom:5px solid #a670d2;

					&:hover
						border-bottom:5px solid #DDB3FF;

				.preorder
					border-bottom:5px solid #97d319;

					&:hover
						border-bottom:5px solid #CEFF66;

				.gobuy
					border-bottom:5px solid #0a7fe0;

					&:hover
						border-bottom:5px solid #86C4F7;

				.work
					background:url(../img/light1.png)no-repeat 13px center;

					&:hover	
						background:url(../img/light2.png)no-repeat 13px center;

			.nav.right
				li
					border-right:1px solid #d6d6d6;

					&:first-child
						border-left:1px solid #d6d6d6;

					a
						color:#73d7ff;
						font-weight:bold;

						&:hover
							color:#73c9ec;

				.cart
					background:url(../img/cart.png)no-repeat 13px center;

					&:hover
						background:url(../img/cart2.png)no-repeat 13px center;
					
					&:before
						content:"(";
						color:#73d7ff;

					&:after
						content:")";
						color:#73d7ff;

				.user
					&:after
						content:"▼";
						color:#c3c3c3;
						
	.slider
		ul
			a
				background:transparent;
				border:1px solid white;
				border-radius:10px;

				&:hover
				&:active
				&.active
					background:white;

	.contentBK
		
		.content.one
			background:#25489d;

		.content.two
			background:#dcf1ec;

		.content.three
			background:#b8bde9;

		.content.four
			background:#e3b8e9;

		.content.five
			background:#b8e1e9;

		.content.six
			background:#97d319;

		.content.seven
			background:#0a7fe0;

.footer
	background:#8a8a8a;

	.wrap

		.logoBK
			a
				background:url(../img/logo2.png)no-repeat left top;
				background-size:65%;
				color:white;
				font-size:12px;
		.aboutUs
			a
				color:white;
				font-size:12px;

		.ad-buy
			background:white;
			border-radius:10px;

			.info
				h6
					color:#595757;

				p
					color:black;

				.buy-btn
					span
						color:#73d7ff;
						font-weight:bold;

					.btn.btnDef
						font-weight:bold;
						font-size:18px;
						text-shadow:1px 1px 2px rgba(0,0,0,0.5);
						background: #6cd5ff; /* Old browsers */
						background: linear-gradient(to bottom, #9fe2fc 0%,#6cd5ff 100%); /* W3C */

						&:hover
							background:#73C9EC;
							background: linear-gradient(to bottom, #90DDF9 0%,#73C9EC 100%); /* W3C */


/* ======================  preorder  ===========================*/
.contentBK
	.topic
		background: rgba(237,237,237,1);
		background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 73%, rgba(220,220,220,1) 100%);

		.wrap
			.product
				font-weight:bold;
				font-size:24px;
				color:black;

			.name
				color:#a3a3a3;
				font-size:12px;

			p
				color:#595757;
				font-size:16px;
	.content
		.wrap.top
			.left
				.title
					background:#97d319;
					font-size:13px;
					color:white;
					border-radius:24px;
				
				.adSlider
					.btnL
						border:1px solid #cacaca;
						border-radius:5px;
						background:white;
						color:#818181;
						
						&:hover
							background:#F7F7F7;

						&:after
							content:"〈"
							font-weight:bold;
							font-size:14px;
							border:none;
					
					.btnR
						border:1px solid #cacaca;
						border-radius:5px;
						background:white;

						&:hover
							background:#F7F7F7;

						&:after
							content:"〉"
							font-weight:bold;
							font-size:14px;
							border:none;

					ul
						border:0;

						&:before
							background:white;

						li
							border:2.5px solid white;
							

			.right
				.preorder-day
					border-radius:20px;
					border:1px solid #cecece;
					color:#595757;
					font-size:14px;

				.day
					font-size:26px;
					color:black;
					background: url(../img/countdown-day.png)no-repeat center left;

					&:before
						color:#595757;
						font-size:14px;

					&:after
						color:#595757;
						font-size:14px;

				p+a
					background: #6cd5ff; /* Old browsers */
					background: linear-gradient(to bottom, #9fe2fc 0%,#6cd5ff 100%); /* W3C */
					border-radius:12px;
					font-size:26px;
					font-weight:bold;
					text-shadow:1px 1px 2px rgba(0,0,0,0.5);

					&:hover
						background:#73C9EC;
						background: linear-gradient(to bottom, #90DDF9 0%,#73C9EC 100%); /* W3C */

				ul
					li
						font-size:24px;
						color:#595757;

						&:before
							font-size:14px;

						&:after
							font-size:14px;
	
					.pre-money
						color:black;
						border-right:1px solid #dbdbdb;

						&:before
							color:#595757;

				.pre-bar
					background: rgba(198,198,198,1);
					background: linear-gradient(to bottom, rgba(198,198,198,1) 0%, rgba(144,144,144,1) 100%);
					border-radius:10px;
					line-height:28px;
					color:white;

					span
						background:#97d319;
						border-radius:10px;

					p
						color:white;
						font-size:13px;


				>h6
					color:black;
					font-weight:normal;
					border-bottom:1px solid black;

			.preorder-more
				background:#f6f6f6;
				border-radius:20px;
				ul
					.media
						border-right:0;
						border-bottom:1px solid #9f9f9f;

						&:last-child
							border-bottom:0;

						&:hover
							background:none;

						.pic
							img
								
						.text
							>h6
								line-height:16px;
								font-size:16px;
								color:#009cff;

							>h4
								&:after
									content:"TWD";
									font-size:14px;

						.text+p
								font-size:12px;

				>.more
					color:#97d319;
					border:1px solid #97d319;
					border-radius:10px;
					font-size:14px;
					background:white url(../img/preorder-more.png)no-repeat 248px center;

					&:hover
						color:#ceff66;
						border:1px solid #ceff66;
						background:white url(../img/preorder-more2.png)no-repeat 248px center;

		.wrap.bottom
			
			.title
				background: #97d319;
				font-size: 13px;
				color: #fff;
				border-radius: 24px;

			.process
				&:before
					background:#b2b2b2;

				ul
					li
						a
							background:url(../img/process.png)no-repeat center top;
							color:#adadad;
							font-size:12px;

							&:hover
								color:#adadad;
						.active
							background:url(../img/process2.png)no-repeat center top;
							color:#595959;
							font-size:14px;

							&:hover
								color:#595959;

			.timeline
				border-top:1px solid #595757;

				.date
					font-size:12px;
					line-height:40px;

					.start
						
						&:before
							content:"決定價格"
							font-size:13px;
							font-weight:bold;
					.end
						&:before
							content:"｜";
							font-size:13px;
							font-weight:bold;

				.info
					border-left:1px solid #595757;

					.textBK
						p
							color:#595757;
							font-size:15px;

						.average
							span
								background:#a670d2;
								color:white;
								font-weight:bold;
								font-size:35px;
								border-radius:15px;

								&:after
									content:"TWD";
									font-size:20px;

							.description
								border-top:1px solid black;

								.hzl
									dl
										line-height:18px;
										font-size:13px;

										dt
											&:after
												content:"/";
						.get-vote
							.vote-bar
								background: #c6c6c6;
								background: linear-gradient(to bottom, #c6c6c6 0%, #909090 100%);
								border-radius: 10px;
								line-height: 28px;
								color: #fff;

								p
									color: #fff;
									font-size: 13px;

								.target
									&:before
										content:"目標票數";

								span
									background: #a670d2;
									border-radius: 10px;

							.day
								font-size: 26px;
								color: #000;
								background: url("../img/countdown-day.png") no-repeat center left;

								&:before
									content:"剩下"
									color: #595757;
									font-size: 14px;

								&:after
									content:"天"
									color: #595757;
									font-size: 14px;
							.sum
								font-size: 26px;
								color: #000;

								&:before
									content:"得票數"
									color: #595757;
									font-size: 14px;

		.wrap.backto-top
			a
				background:url(../img/backto-top.png)no-repeat top right;
				color:#97d319;
				font-size:13px;
				font-weight:bold;

/* ======================  preorder  ===========================*/
// .wrapper
// 	.contentBK.pj
// 		.preorder-day
// 			.countdown
// 				font-size: 26px;
// 				color: #000;



						

								




							

								
