@import 'nib'

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body 
	padding:0
	margin:0

form 
  margin:0 0 20px

img 
  border: none
button 
  margin: 0

.signup
  margin-top:40px

body 
  -webkit-text-size-adjust: none
  color: #000
  font-size: 1em
  font-weight: 300
  font-family: "museo-slab", "museo slab", "Helvetica Neue", Ubuntu, "Microsoft JhengHei", "WenQuanYi Micro Hei", Helvetica, "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3", "PMingLiU", Arial, sans-serif
  -webkit-font-smoothing:antialiased
  background-color: #f9fdfe
  position: relative

input, textarea, select 
  outline: none
  font-weight: 300
  font-family: 'Foro-LightRegular', "museo-slab", "Helvetica Neue", Ubuntu, "Microsoft JhengHei", "WenQuanYi Micro Hei", Helvetica, "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3", "PMingLiU", Arial, sans-serif

.leftbox 
  float: left

#searchbox 
  width: 650px
  text-shadow: 0 1px 1px rgba(0,0,0,0.4)
  position: relative

#search 
  display: block
  padding: 9px
  border-radius: 13px
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.125), 0 1px 0px rgba(255,255,255,0.8)
  background: #e6f0f4
  background-image: linear-gradient(to bottom, rgba(230,236,242,.9), rgba(235,240,245,.9))

.searchbox, #main-more 
  float: left

.searchbox input 
  border-width: 0
  height: 28px
  line-height: 28px
  font-size: 24px

#search-text 
  width: 293px
  height: 30px
  margin-right: 5px
  border: 1px solid #c8cdd2
  border-radius: 5px
  background: #fff
  padding: 3px 20px
  box-shadow: inset 0 1px 12px rgba(0,0,0,0.125), 0 1px 3px rgba(0,0,0,0.125)

  input 
    background: none
    text-shadow: 0 1px 1px rgba(0,0,0,.225)

#search-button 
  cursor: pointer
  width: 78px
  height: 36px
  border: 1px solid #96a8b4
  border-radius: 5px
  box-shadow: inset 0 1px 1px rgba(255,255,255,.764), 0 1px 3px rgba(0,0,0,0.125)
  background: #afc4d2
  background-image: linear-gradient(to bottom, rgba(209,226,237,.9), rgba(196,211,222,.9))

  input 
    display: block
    text-shadow: 0 1px 1px rgba(255,255,255,1)
    font-size: 24px
    height: 36px
    line-height: 30px
    width: 100%
    padding: 3px 0
    background: none
    cursor: pointer
  :active 
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.165), inset 0 1px 1px rgba(0,0,0,0.165), 0 1px 1px rgba(255,255,255,1)
    background: #afc4d2
    border-top-color: #8898a3
    border-bottom-color: #aabecc
    background-image: linear-gradient(to bottom, rgba(196,211,222,.9), rgba(209,226,237,.9))

    input 
      line-height: 34px

h1
  font-family: 'Poiret One', cursive
  color:#fff
  font-size:45px

h2 
  color:#ccc
  font-size:20px

#logotitle
  text-align:center
#subtitle
  text-align:center
  margin-top:-1em



#section1
  // min-height:1020px
  background: url(../img/bg.jpg)

  .content
    width: 500px
    height: 500px
    margin: 0 auto
    margin-left: -270px
    left: 50%
    top: 50%
    margin-top: -550px
    padding: 20px
    line-height: 28px
    border-radius: 15px
    color: #8c5c05
    font-family: '微軟正黑體'
    z-index: 999
    position: absolute

#section2
  background:#000

  .content 
    width:960px
    margin:auto
    background:#fff
    height:auto
    // height:700px

.bg-pattern
  width: 100%
  height: 100%
  display: block
  position: fixed
  background: url(../img/pattern.png) repeat
  z-index: 9



#footer
  position:fixed
  bottom:0px
  width:100%
  height:50px
  background:#000

  p 
    color:#ddd
    text-align:center



// @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed)
size= 45px
mask_height= 10px

.middle
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto

.text
  @extend .middle
  color: #eee
  font-size: size
  height: size / 2
  // width: 600px
  // text-align: center
  // text-transform: uppercase
  letter-spacing: 3px
  -webkit-animation: noise 1.2s linear infinite
  .mask
    @extend .middle
    // height: mask_height
    // top: -((size /2) - mask_height)
    overflow: hidden
    opacity: .6
    -webkit-animation: down 2.5s ease infinite
    span
      @extend .middle
      color: #fff
      text-shadow: 2px 0 5px #40E0D0, -2px 0 5px #CD5C5C
      -webkit-animation: up 2.5s ease infinite
  
@-webkit-keyframes noise
  50%
    text-shadow: 8px 0 5px #40E0D0, -8px 0 5px #CD5C5C
  
@-webkit-keyframes down
  100%
    top: 60px
  
@-webkit-keyframes up
  100%
    top: -55px
  
body
  background: #333


