/* ======================  index  ===========================*/
.wrapper
  min-height: 100%;
  padding-bottom: 210px;
  position:relative;

  .header 
    width:100%;
    height:60px;
    position:fixed;
    z-index:100;
    text-align:center;
 
    .wrap
      display:inline-block;
      max-width:1200px;

      .nav.left
        li
          float:left;
          height:60px;
          line-height:60px;
          padding:0 18px;
          display:block;  

          a
            display:block;
        .logo
          margin:0;
          padding:0;
          width:176px;

        .choose
        .preorder
        .gobuy
          height:55px;

        .work
          padding-left:42px;

      .nav.right
        li
          float:left;
          height:60px;
          line-height:60px;
          padding:0 13px;

        .cart
          padding-left:37px;
          position:relative;


  .slider
    width:12px;
    height:700px;
    position:fixed;
    top:67px;
    left:214px;

    ul
      display:block;
      position:absolute;
      width:12px;
      top:50%;
      margin-top:-52.2px;

      a
        width:10px;
        height:10px;
        display:block;
      

.contentBK.index
  width:100%;
  height:auto;
  padding-top:67px;

  .content
    width:100%;
    height:633px;

    .wrap
      padding:67px 0 0 0;

  .content.one
    .wrap
      .left
        margin:150px 0 0 100px;

  .content.two
    .wrap
      .left
        margin:150px 0 0 120px;
        text-align:center;

.footer
  height:210px;
  width:100%;
  margin-top: -210px;
  position:relative;

  .wrap
    width:970px;
    padding:24px 0 0 0;

    .logoBK
      width:227px;
      float:left;
      margin-right: 20px;

      a
        width:209px;
        height:12px;
        padding-top:32px;
        display:block;

    .aboutUs
      width:380px;
      float:left;

      ul
        float:left;
        padding-right:25px;

    .ad-buy
      float:right;
      width:318px;
      height:96px;
      padding:12px;

      .pic
        width:135px;
        height:96px;
        overflow:hidden;

        img
          width:135px;

      .info
        width:175px;
        float:right;

        h6
          padding:0;
          font-size:17px;
          height:20px;
          overflow:hidden;

        p
          line-height:16px;
          margin:5px 0 0 0;

        .buy-btn

          span
            display:block;
            float:left;
            height:30px;
            line-height:30px;

            &:before
              content:"NT. ";
          a
            display:block;
            float:right;
            margin:0;
            width:62px;

/* ======================  preorder  ===========================*/
.contentBK
  width:100%;
  height:auto;
  padding-top:67px;

  
  .topic
    min-height:65px;
    width:100%;
    display:block;
    padding-top:55px;

    .wrap
      width:970px;
      margin:0 auto;

      .product
        display:inline-block;
        padding-right:5px;

      .name
        display:inline-block;
        width:840px;

        &:before
          content:"發起人/ ";
      p
        width:710px;
        display:block;
        float:left;
        margin-bottom:10px;

      .pd-info
        display:block;
        float:right;
        margin-bottom:10px;

        li
          float:right;
          padding-right:10px;

          &:first-child
            padding-right:0;
  .content
    .wrap.top
      width:970px;
      padding:35px 0 0 0;

      >.left
        width:630px;
        padding:0;
        overflow:hidden;

        .title
          display:inline-block;
          padding:4px 14px;
          margin-bottom:15px;
          margin-top:45px;

          &:first-child
            margin-top:0;


        >img
          width:630px;

        .adSlider
          width:630px;
          height:78px;

          .btnL
            height:68px;
            width:17px;
            margin:5px 5px 5px 0;

            &:after
              width:14px;
              height:16px;
              margin-top:0;
              margin-left:0;
              left:0;
          .btnR
            height:68px;
            width:17px;
            margin:5px 0 5px 5px;

            &:after
              width:14px;
              height:16px;
              margin-top:0;
              margin-right:0;
              right:0;


          ul
            height:73px;
            margin:2.5px 0;
            position:relative;

            &:before
              content:"";
              position:absolute;
              width:20px;
              height:80px;
              left:588px;

            li
              height:68px;
              padding:0;

      >.right
        width:310px;

        .preorder-day
          box-sizing:border-box;
          padding:13px;
          margin-bottom:15px;

          .countdown
            float:left;
            display: block;
            height: 16px;
            margin-top: 12px;
            margin-bottom:12px;

          .day
            float:right;
            padding-left: 30px;
          

            &:before
              content:"剩下";

            &:after
              content:"天";

          ul
            border-top:1px solid #dbdbdb;
            clear:both;
            padding-top:13px;

            li
              float:left;
              position: relative;
              padding-top: 25px;

              &:before
                position: absolute;
                top: 0;

              &:after
                content:"TWD";
                position: absolute;
                top: 20px;

            .pre-money
              width:140px;
              margin-right:10px;

              &:before
                content:"目前累積預購金額";

            .money
              width:130px;

              &:before
                content:"目標預購金額";

          .pre-bar
            height:28px;
            position:relative;
            margin-bottom:15px;
            overflow:hidden;

            span
              position: absolute;
              top: 0;
              height: 28px;
              width:86%;
              display:block;

            p
              padding-left:20px;
              line-height: 28px;
              margin:0;
              position:absolute;
              z-index:2;

          >h6
            width:160px;
            padding:0;
            margin-bottom:5px;
          p
            margin-bottom:15px;
          p+a
            display:block;
            margin:0;
            height:44px;
            line-height:44px;

        .preorder-more
          box-sizing:border-box;
          padding:17px;
          ul
            margin-bottom:0;

            .media
              padding-top: 20px;
              padding-bottom: 20px;
              margin-bottom:0;

              &:first-child
                padding-top:10px;

              .pic
                width:100px;
                height:92px;
                overflow:hidden;
                text-align:center;
                margin-left:0;
                margin-right:10px;

                img
                  height:92px;
                  width:auto;

              .text
                width:166px;

                >h6
                  padding-top:0;

                >h4
                  &:after
                    position:absolute;
                    margin-top:-5px;
              .text+p
                clear:both;
                padding-top:10px;

          >.more
            height:29px;
            line-height:29px;
            display:block;
            padding:0 10px;

    .wrap.bottom
      width: 970px;
      padding: 35px 0 0 0;

      .title
        display: inline-block;
        padding: 4px 14px;
        margin-bottom: 15px;
        margin-top: 45px;

        &:first-child
          margin-top:0;

      .process
        height:100px;
        width:100%;
        position:relative;
        text-align:center;

        &:before
          content:"";
          width:100%;
          height:1px;
          position:absolute;
          top:25%;
          z-index:-1;

        ul
          margin:0 auto;
          display:inline-block;

          li
            float:left;
            height:52px;
            margin-top:8px;

            a
              display:block;
              padding-top:34px;
              width:148px;

      .timeline
        width:100%;
        padding-top:12px;
        margin-bottom:12px;
          

        .date
          width:120px;
          padding-top:35px;
          padding-bottom:35px;
          float:left;
          text-align:center;

          .start
            &:before
              display:block;
              text-align:center;

          .end
            &:before
              display:block;
              text-align:center;

        .info
          padding:26px 0 35px 30px;
          float:left;
          width:819px;

          .textBK
            margin-bottom:5px;

            &:last-child
              margin-bottom:0;

            >.text
              float:left;
              width:460px;
              padding-right:30px;

              >h5
                padding-top:0;

            >.pic
              width:320px;
              float:right;

              img
                width:320px;
            .average
              padding:0 20px;
              width:280px;
              float:right;

              p
                text-align:center;
                font-size:14px;
                margin-bottom:10px;

              span
                display:block;
                text-align:center;
                padding:10px 30px 10px 10px;
                position:relative;
                width:170px;
                margin:0 auto 15px auto;

                &:after
                  position:absolute;

              .description
                margin:0;

                .hzl 
                  width:100%;
                  dl
                    dt
                      width:80px;

                      &:after
                        padding-left:5px;

                    dd
                      width:200px;
                      margin-left:0;

            .get-vote
              padding:0 20px;
              width:280px;
              float:right;

              .vote-bar
                height: 28px;
                position: relative;
                margin-bottom: 15px;
                overflow: hidden;

                >p
                  padding-left: 20px;
                  line-height: 28px;
                  margin: 0;
                  position: absolute;
                  z-index: 2;

                .target
                  padding:0 20px 0 0;
                  right:0;

                  &:before
                    padding-right:3px;

                >span
                  position: absolute;
                  top: 0;
                  height: 28px;
                  width: 128%;
                  display: block;
                
              .day
                float: left;
                padding-left: 30px;

              .sum
                float:right;

    .wrap.backto-top
      width: 970px;
      padding:0;

      a
        height:28px;
        float:right;
        padding-right:30px;
        line-height:28px;

/* ======================  project01_r2  ===========================*/
// .wrapper
//  .contentBK.pj
//    .preorder-day
//      .countdown
//        margin:0;
//        display:block;
//        height:auto;












                  
                


            


    
