<section class="section section--search">
  <a ng-click="update()" class="section--search__report-btn">我要檢舉</a>
  <div class="section--search__background"></div>
  <div class="section--search__container">
    <h1 class="section--search__title">BadDriver</h1>
    <h2 class="section--search__subtitle">還一個乾淨的路權給民眾</h2>

    <form class="section--search__form">
      <input type="text" name="search" class="section--search__form__input" placeholder="請輸入欲查詢車牌號碼..."/>
      <input type="submit" name="submit" value="查詢" id="submit" class="section--search__form__submit-btn" />
    </form>
  </div>
</section>

<section class="section section--video-list">
  <div class="section--video-list__content">
    <ul class="section--video-list__list">
      <li class="section--video-list__item section--video-list__item--left" ng-repeat="d in idata">
        <div class="section--video-list__item__info">
          <iframe width="100%" height="200" src="{{urldata[$index]}}" frameborder="0" allowfullscreen></iframe>
          車牌{{snumber[$index]}}<br/>
          {{d.city}} || {{d.location}}
          <a class="btn red" style="width:95%">點我看詳情</a>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="section section--description">
  <div class="section--description__background"></div>
  <div class="section--description__message">
    <p>return the public right-of-way to the public</p>
  </div>
</section>

<div class="page-footer">
  <p>BadDriver (c) 2013</p>
</div>
