<section class="section section--search">
	<div class="section--search__background"></div>
	<div class="section--update__container" ng-class="change ? 'active':''">
		<div class="section--update__div">
			<ul class="numlistpool"> 
				<li class="numlist" ng-repeat=" o in nlist">{{o}}</li>
			</ul>
			<div class="section--update__inputnum" ng-show="wantaddnumber">
				<input type="text" class="section--update__form__sub__input addnumber" placeholder="新增車號" ng-model="inputnum" value="{{inputnum}}"/><a class="section--update__addnumber" ng-click="addnum()">新增</a>
			</div>
			<a class="section--update__addnumber" ng-click="addnewbtn()" ng-show="change" ng-hide="fullnum">請輸入車號</a>
			<iframe width="100%" height="300" src="{{urldata}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="section--update__input__div">
			<input type="text" name="search" class="section--update__form__input" placeholder="請輸入檢舉之Youtube影片" ng-model="url" value="{{url}}" ng-change="checkurl()" ng-mouseleave="gosearchid()" class="section--search__form__input"/>
			<input type="submit" name="url" value="檢舉" id="submit" class="section--update__form__submit-btn" ng-click="search()"/>
			<div class="section--update__input__check" ng-class="change ? 'active':''">已轉成 Youtube ID</div>
		</div>
	</div>
	<div class="section--update__container__info" ng-class="change ? 'active':''">
		<ul>
			<li>
				<span class="title">City</span>
			</li>
			<li>
				<input type="text" name="city" class="section--update__form__sub__input" placeholder="請輸入所在城市，若不確定寫未知" ng-model="city" value="{{city}}"/>
			</li>
			<li>
				<span class="title">Location</span>
			</li>
			<li>
				<input type="text" name="location" class="section--update__form__sub__input" placeholder="請輸入地點之詳細，若不確定寫未知" ng-model="location" value="{{location}}"/>
			</li>
			<li>
				<span class="title">Description</span>
			</li>
			<li>
				<textarea class="section--update__form__sub__textarea" cols="40" rows="10" ng-model="description" value="{{description}}"></textarea>
			</li>
			<li>
				<a class="section--update__report-btn" ng-click="send()">送出</a>
			</li>
		</ul>
	</div>
</section>
<div class="page-footer">
	<p>BadDriver (c) 2013</p>
</div>