.section
  position: relative
  min-height: 580px
  overflow: hidden
  box-sizing: border-box
  padding: 20px 0
.section--pic-list
  width:100%
  height:200px
  max-height:200px
@import "search"
@import "update"
@import "detail"
@import "video-list"
@import "description"
