@keyframes movetoleft
  from {
    left:50%
  }
  to {
    left:25%
  }
@keyframes movetoresault
  from {
    left:50%
  }
  to {
    left:60%  
  }
@keyframes loadingurl 
  from{
    transform:translateY(-5px) rotateX(60deg)
    // opacity:0
    background:#9c9c9c
    opacity:0
  }
  to{
    transform:translateY(0) rotateX(0deg)
    background:#e0e0e0 
    opacity:1
  }
@keyframes updatemovetoleft
  from{
    transform: translate3d(-250px, -200px, 0)
  }
  to{
    transform: translate3d(-425px, -200px, 0)
  }
@keyframes updatemovetoright
  from{
    transform: translate3d(-75px, -200px, 0)
    opacity:0
  }
  to{
    transform: translate3d(80px, -200px, 0)
    opacity:1
  }
@keyframes chooseit 
  from{
    border:1px solid #000
    // transform:rotateY(0deg)
  }
  to{
    border:1px solid #aaa
    // transform:rotateY(720deg)
  }
@keyframes showimg
  from{
    transform: translate3d(-50px , 0px ,0px)
    opacity:0
  }
  to{
    transform: translate3d(0px , 0px ,0px)
    opacity:1
  }
@keyframes showsmallpic
  from{
    transform:rotateY(0deg)
  }
  to{
    transform:rotateY(720deg)
  }
.section--update
  width:100%
  height:100%
  background: url('../img/bg.jpg') no-repeat

.section--update__container
  // background: #fff
  position:absolute
  height: 400px
  width:500px
  left:50%
  top:50%
  transform: translate3d(-250px, -200px, 0)
  // background:#fff
  z-index:10

.section--update__container.active
  animation: updatemovetoleft .8s ease
  transform: translate3d(-425px, -200px, 0)

.section--update__container__info
  position:absolute
  height: 400px
  width:350px
  left:50%
  top:50%
  // background:#fff
  transform: translate3d(-75px, -200px, 0)
  box-sizing: border-box
  padding:10px
  z-index:8
  opacity:0

.section--update__container__info.active
  animation:   updatemovetoright .8s ease
  transform: translate3d(80px, -200px, 0)
  opacity:1

span.title
  font-family: 'Poiret One', cursive
  color: #e0e0e0
  font-weight: bold
  font-size: 2em
  line-height:1.5em
  
.section--update__container div
    display:inline-block

.section--update__input__div
  width: 500px
  // margin-top: 40px
  position: relative
  // left: 50%
  height: 40px
  transform: translate3d(0, 0, 0)

.section--update__form__submit-btn
  position: absolute
  right: 0
  top: 0
  font-size: 14px
  letter-spacing: 1px
  background: #FA5A5A
  border: none
  color: #FFF
  border-bottom: 2px rgba(0, 0, 0, .21) solid
  box-sizing: border-box
  height: 40px
  width: 50px
  text-align: center
  opacity: .8

.section--update__form__input
  position: absolute
  left: 0
  top: 0
  background: rgba(255, 255, 255, .5)
  color: #000
  font-size: 14px
  letter-spacing: 1px
  border: none
  border-bottom: 2px rgba(255, 255, 255, .4) solid
  width: 450px
  box-sizing: border-box
  padding: 0 10px
  height: 40px
  &::placeholder
    color: #333

.section--update__form__sub__input
  // position: absolute
  background: rgba(255, 255, 255, .5)
  color: #000
  font-size: 14px
  letter-spacing: 1px
  border: none
  border-bottom: 2px rgba(255, 255, 255, .4) solid
  width: 300px
  box-sizing: border-box
  padding: 0 10px
  height: 40px

  &::placeholder
    color: #333

.section--update__form__sub__textarea
  background: rgba(255, 255, 255, .5)
  color: #000
  font-size: 14px
  letter-spacing: 1px
  border: none
  border-bottom: 2px rgba(255, 255, 255, .4) solid
  width: 300px
  box-sizing: border-box
  padding: 0 10px
  height: 125px

.section--update__div
  width:500px

.section--update__div > iframe
  width:100%
  height:300px
  background:#000

.moveleft 
  animation: movetoleft 1s ease
  left:25%
  // transform:translate3d(-660px,-150px,0)

.resaultmove
  display:block
  animation: movetoresault 1s ease
  left:60%

.noresult
  width:100%
  height:50px 

.update-item
  width:150px
  text-align:left

.section--update__input__check
  position:absolute
  top:40px
  text-align:center
  width:500px
  height:30px
  line-height:30px
  background:#e0e0e0  
  opacity:0

.section--update__input__check.active
  animation: loadingurl 1s
  
.section--update__report-btn
  position: absolute
  transform: translate3d(0, 0, 0)
  background: #FA5A5A
  color: #FFF
  padding: 10px
  border-bottom: 5px rgba(0, 0, 0, .21) solid
  letter-spacing: 2px
  cursor: pointer
  opacity: .8
  z-index: 3
  left:258px
  &:hover
    margin-top: 1px
    border-bottom-width: 4px
  &:active
    background-color: #ff4c4b
    margin-top: 4px
    border-bottom-width: 1px

.section--update__addnumber
  position: absolute
  transform: translate3d(0, 0, 0)
  background: #FA5A5A
  color: #FFF
  padding: 10px
  border-bottom: 5px rgba(0, 0, 0, .21) solid
  letter-spacing: 2px
  cursor: pointer
  opacity: .8
  z-index: 3
  right:0px
  &:hover
    margin-top: 1px
    border-bottom-width: 4px
  &:active
    background-color: #ff4c4b
    margin-top: 4px
    border-bottom-width: 1px

.section--update__inputnum
  width:352px
  height:40px
  position:absolute
  margin-left:74px
  margin-top:130px

.addnumber
  opacity:1

.numlistpool
  pointer-events:none
  position:absolute
  height:50px
  top:-2em
  width:100%

.numlist
  color:#fff
  font-size:2em
  font-family: 'Poiret One', cursive

.updatechoose
  width:200px
  height:100px
  position:absolute
  margin:100px 150px
  a
    color:#fff
  ul li
    display:inline-block
    width:100px
    height:100px
    margin-left:-0.35em
  ul li:hover
    animation:chooseit 2s ease
    width:100px
    height:100px
    border:1px solid #a0a0a0
  ul a.upimg
    position:absolute
    cursor:pointer
    width:45px
    height:40px
    margin:30px 27.5px
    background:url('../img/uploadimg.jpg') no-repeat
    background-size:100%
  ul a.upU
    position:absolute
    cursor:pointer
    width:45px
    height:55px
    margin:22.5px 27.5px
    background:url('../img/uploadyoutube.jpg') no-repeat
    background-size:100%
  p 
    color:#fff
  p.hint
    text-align:center
    line-height:3em

.updateimg
  position:absolute
  width:100%
  height:300px
  pointer-events:none
  p 
    color:#fff
  ul
    width:400px
    position:absolute
    left:50px
    top:50px
    li
      color:#eee
      animation:showimg 1s ease
      margin-top:15px

div.uploadfile
  width: 250px;
  height: 40px;
  overflow: hidden;
  position: absolute
  transform: translate3d(0, 0, 0)
  color: #FFF
  letter-spacing: 2px
  cursor: pointer
  opacity: .8
  text-align:center      
  background: #f1ae20
  border-bottom: 5px #ed935c solid
  &:hover
    margin-top: 1px
    border-bottom-width: 4px
  &:active
    background-color: #ed7f3c
    margin-top: 4px
    border-bottom-width: 1px

div.uploadfile p 
  line-height:3em

div.uploadfile input 
  margin-top:-30px
  display: block !important
  width: 250px !important
  height: 40px !important
  opacity: 0 !important
  overflow: hidden !important

a.uploadfile_contain
  width: 250px;
  height: 40px;
  overflow: hidden;
  position: absolute
  transform: translate3d(0, 0, 0)
  color: #FFF
  letter-spacing: 2px
  cursor: pointer
  opacity: .8
  left:250px
  line-height:3em
  text-decoration:none
  text-align:center      
  background: #FA5A5A
  border-bottom: 5px rgba(0, 0, 0, .21) solid
  &:hover
    margin-top: 1px
    border-bottom-width: 4px
  &:active
    background-color: #ff4c4b
    margin-top: 4px
    border-bottom-width: 1px

.delimg
  color: #fff;
  text-decoration: none
  background: #aaa
  padding: 5px

.showpic
  width:500px
  height:300px
  overflow:hidden
  position:absolute
  img
    width:500px
    max-height:300px
.smallpic
  width:200px
  height:40px
  position:absolute
  left:150px
  bottom:0px
  li 
    animation:showsmallpic 1s ease
    display:inline-block
    width:30px
    height:30px
    overflow:hidden
    border:2px solid #ccc
    margin-left:3px
  li img
    width:30px
    height:30px
    cursor:pointer
.total-progress-box
  width:100%
  height:3px
  position:absolute
  top:299px
  left:0px
  background:#fff
.total-progress
  height:3px
  position:absolute
  background:#fa5a5a
